FLASK_SECRET_KEY=super-secret-random-key-change-this-in-production
OIDC_CLIENT_ID=11111111-1111-1111-1111-111111111111
OIDC_CLIENT_SECRET=XXXXxxxxXXXXxxxxXXXXxxxxXXXXxxxx
OIDC_CONF_URL=https://oidc-server/.well-known/openid-configuration
